/* Default Hovered Date */
.CalendarDay__default:hover {
  @apply bg-ds-blue-darker border-ds-blue-darker text-white;
}

/* Selected Date Input Border */
.DateInput_input__focused {
  @apply border-ds-gray-octonary;
}

/* Selected Start/End Date Field */
.CalendarDay__selected {
  @apply bg-ds-blue-darker border-ds-blue-darker;
}

.CalendarDay__selected:hover {
  @apply bg-ds-blue-darker border-ds-blue-darker text-white;
}

/* Selected In Between Date Fields */
.CalendarDay__selected_span {
  @apply bg-ds-blue-selected text-ds-blue-darker;
  border-color: #e4e7e7;
}

.CalendarDay__selected_span:hover {
  @apply bg-ds-blue-darker border-ds-blue-darker;
}

/* Not Selected In Between Date Fields */
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  @apply bg-ds-blue-selected text-ds-blue-darker;
  border-color: #e4e7e7;
}

/* Keyboard Shortcuts */
.DayPickerKeyboardShortcuts_show__bottomRight:before,
.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
  border-right: 33px solid #0071c2;
}

/* Font Family */
.DateRangePicker {
  @apply font-sans text-ds-gray-octonary text-base;
}

/* Input Dates  */
.DateInput_input,
.DateInput_input_1,
.DateInput_input__small,
.DateInput_input__small_2 {
  @apply font-sans text-sm font-normal;
}

/* Weekdays */
.DayPicker_weekHeader_li,
.DayPicker_weekHeader_li_1 {
  @apply font-sans text-ds-gray-octonary text-sm font-normal;
}

/* Month Captions */
.CalendarMonth_caption strong,
.CalendarMonth_caption_1 strong {
  @apply font-sans text-ds-gray-octonary text-base font-normal;
}

.react-datepicker {
  @apply border-ds-gray-tertiary;
}

.react-datepicker__header {
  @apply border-b-ds-gray-tertiary;
}

.react-datepicker__triangle {
  @apply hidden;
}

.react-datepicker__header {
  @apply bg-white;
}

.react-datepicker__day {
  @apply rounded-none font-sans font-normal;
}
