.coverageAreaChart title {
  pointer-events: none;
}

.coverageAreaChart {
  @apply max-h-[110px] md:max-h-[140px] lg:max-h-[190px] xl:max-h-[230px]  2xl:max-h-[265px] !important;
}

.coverageAreaChart .coverage-line path {
  @apply text-ds-pink stroke-current !important;
}

.coverageAreaChart .chart-tooltip path {
  @apply stroke-current !important;
  fill: white !important;
  color: #68737e;
}

.coverageAreaChart .chart-tooltip tspan {
  @apply font-sans !important;
  @apply font-extralight stroke-current;

  color: #68737e;
}

.coverageAreaChart .date-axis tspan {
  text-anchor: start !important;
}

.coverageAreaChart .date-axis:last-child tspan {
  text-anchor: middle !important;
}

.coverageAreaChart .coverage-axis tspan {
  text-anchor: end !important;
}

.coverageAreaChart .date-axis line,
.coverageAreaChart .coverage-axis line {
  @apply stroke-current !important;

  color: #68737e;
}

.coverageAreaChart .date-axis tspan,
.coverageAreaChart .coverage-axis tspan {
  @apply font-sans !important;
  @apply font-light stroke-current;

  color: #68737e;
}
