.bundleTrendChart title {
  pointer-events: none;
}

.bundleTrendChart {
  @apply max-h-[140px] md:max-h-[170px] lg:max-h-[210px] xl:max-h-[270px]  2xl:max-h-[350px] !important;
}

.bundleTrendChart .size-line path {
  @apply text-ds-pink-default stroke-current !important;
}

.bundleTrendChart .chart-tooltip path {
  @apply text-ds-gray-quinary stroke-current !important;
  fill: white !important;
}

.bundleTrendChart .chart-tooltip tspan {
  @apply font-sans !important;
  @apply text-ds-gray-quinary font-extralight stroke-current;
}

.bundleTrendChart .date-axis tspan {
  text-anchor: start !important;
}

.bundleTrendChart .date-axis:last-child tspan {
  text-anchor: middle !important;
}

.bundleTrendChart .size-axis tspan {
  text-anchor: end !important;
}

.bundleTrendChart .date-axis line,
.bundleTrendChart .size-axis line {
  @apply text-ds-gray-quinary stroke-current !important;
}

.bundleTrendChart .date-axis tspan,
.bundleTrendChart .size-axis tspan {
  @apply font-sans !important;
  @apply text-ds-gray-quinary font-light stroke-current;
}
