version: 2.1 # using 2.1 provides access to orbs and other features

jobs:
  install:
    docker:
      - image: cimg/node:18.8.0
    steps:
      - checkout
      - run:
          name: Install deps
          command: npm ci
      - save_cache:
          key: npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
  eslint:
    docker:
      - image: cimg/node:18.8.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run linter
          command: npm run lint
  test:
    resource_class: medium+
    docker:
      - image: cimg/node:18.8.0
    parallelism: 6
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run tests
          command: |
            TESTFILES=$(circleci tests glob "src/**/*.spec.js" "src/**/*.test.js" "src/**/*.spec.jsx" "src/**/*.test.jsx" | circleci tests split --split-by=timings)
            CI=true npm run test:ci -- --maxWorkers=2 $TESTFILES
      - run:
          name: Upload coverage to codecov
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            chmod +x codecov
            ./codecov -Z
      - run:
          name: Upload coverage to codecov staging
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            chmod +x codecov
            ./codecov -t $CODECOV_TOKEN_STAGING -u https://stage-web.codecov.dev -Z

  build:
    docker:
      - image: cimg/node:18.8.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Build the spa
          command: npm run build

  storybook:
    docker:
      - image: cimg/node:18.8.0
    resource_class: medium+
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Deploy to Chromatic
          command: npm run chromatic

  fossa:
    docker:
      - image: cimg/node:18.8.0
    steps:
      - checkout
      - run:
          name: Install FOSSA CLI
          command: |
            curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash
      - run:
          name: Analyze and upload dependency reports
          command: fossa analyze
          env:
            FOSSA_API_KEY: ${FOSSA_API_KEY}

workflows:
  version: 2
  test:
    jobs:
      - install
      - eslint:
          requires:
            - install
      - test:
          requires:
            - install
  storybook-and-fossa:
    jobs:
      - install
      - storybook:
          filters:
            branches:
              ignore: /^dependabot.*/
          requires:
            - install
      - fossa:
          requires:
            - install
