
version: 2.1 # using 2.1 provides access to orbs and other features

jobs:

  test:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: Install deps
          command: yarn
      - run:
          name: Run tests
          command: yarn test
      - run:
          name: Upload coverage to codecov
          command: npx codecov
      - run:
          name: Run eslint
          command: yarn lint

  build:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: Install deps
          command: yarn
      - run:
          name: Build the spa
          command: yarn build
      - run:
          name: Check bundlesize
          command: yarn bundlesize

workflows:
  version: 2
  test-and-build:
    jobs:
      - test
      - build:
          requires:
            - test
