version: 2.1 # using 2.1 provides access to orbs and other features

jobs:
  install:
    docker:
      - image: cimg/node:16.14.2
    steps:
      - checkout
      - run:
          name: Install deps
          command: npm ci
      - save_cache:
          key: npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
  eslint:
    docker:
      - image: cimg/node:16.14.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run linter
          command: npm run lint
  test:
    docker:
      - image: cimg/node:16.14.2
    parallelism: 6
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run tests
          command: |
            TESTFILES=$(circleci tests glob "src/**/*.spec.js" "src/**/*.test.js" | circleci tests split --split-by=timings)
            CI=true npm run test:ci -- --maxWorkers=6 $TESTFILES
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
          JEST_JUNIT_ADD_FILE_ATTRIBUTE: 'true'
      - run:
          name: Upload coverage to codecov
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            chmod +x codecov
            ./codecov -Z
      - run:
          name: Upload coverage to codecov staging
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            chmod +x codecov
            ./codecov -t $CODECOV_TOKEN_STAGING -u https://stage-web.codecov.dev -Z

  sentry:
    docker:
      - image: cimg/node:16.14.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Sentry Release
          command: npm run sentry

  build:
    docker:
      - image: cimg/node:16.14.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Build the spa
          command: npm run build

  storybook:
    docker:
      - image: cimg/node:16.14.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Deploy to Chromatic
          command: npm run chromatic

workflows:
  version: 2
  test-and-build:
    jobs:
      - install
      - eslint:
          requires:
            - install
      - storybook:
          filters:
            branches:
              ignore: /^dependabot.*/
          requires:
            - install
      - test:
          requires:
            - install
      - sentry:
          requires:
            - install
