td {
  --line-size: 2px;
  --dot-size: 4px;
}

.line::before {
  background: theme('colors.ds.gray.octonary');

  clip-path: polygon(
    0 calc(100% * (1 - var(--start, var(--size)))),
    100% calc(100% * (1 - var(--size))),
    100% calc(100% * (1 - var(--size)) - var(--line-size)),
    0 calc(100% * (1 - var(--start, var(--size))) - var(--line-size))
  );
}

.line:not([data-mode='normal'])::before {
  background: linear-gradient(
    90deg,
    transparent 50%,
    theme('colors.ds.gray.quaternary') 50%
  );
  background-size: var(--dot-size) var(--dot-size);

  clip-path: polygon(
    0 calc(100% * (1 - var(--start, var(--size)))),
    100% calc(100% * (1 - var(--size))),
    100% calc(100% * (1 - var(--size)) - var(--line-size)),
    0 calc(100% * (1 - var(--start, var(--size))) - var(--line-size))
  );
}
